<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New World Book Collection store </title>
  <h1> Come and get new Books with 50% offer with latest collections of Books</h1>
</head>
<body>

  <main>
    <section class="about">
      <h2>About Book Store Management</h2>
      <p>Welcome to Book Store Management I hope you all enjoyed reading books and the latest collections of books will come soon with the discount of 50% offer.</p>
      <p>please Use this opportunity come and get more collections of Books with less price and get Home more collections of Books</p>
      <p>Buy one Get one offers will be closed soon! come and get books to improve knowledge</p>
      <p> Different collections of Books available here Comics, Epics, Story Books, Magazines, School Books, Great Leaders Books</p>
    </section>
  </main>

  <footer>
    <p>&copy; 2024 Latest Model Collection Book Store Management All rights reserved.</p>
  </footer>

</body>
</html>
